<h1>Departures</h1>
<h2>North Station</h2>
<table class='departures north_station'>
  <th>Time</th>
  <th>Destination</th>
  <th>Train #</th>
  <th>Track #</th>
  <th>Status</th>
  <% @north_station_departures.each do | departure | %>
    <tr>
      <td><%= departure.formatted_time %></td>
      <td><%= departure.destination %></td>
      <td><%= departure.train_id %></td>
      <td><%= departure.track_id %></td>
      <td><%= departure.status %></td>
    </tr>
  <% end %>
</table>

<h2>South Station</h2>
<table class='departures south_station'>
  <th>Time</th>
  <th>Destination</th>
  <th>Train #</th>
  <th>Track #</th>
  <th>Status</th>
  <% @south_station_departures.each do | departure | %>
    <tr>
      <td><%= departure.formatted_time %></td>
      <td><%= departure.destination %></td>
      <td><%= departure.train_id %></td>
      <td><%= departure.track_id %></td>
      <td><%= departure.status %></td>
    </tr>
  <% end %>
</table>
