<h1>Departures#index</h1>
<table>
  <th>Time</th>
  <th>Destination</th>
  <th>Train #</th>
  <th>Track #</th>
  <th>Status</th>
  <% @departures.each do | departure | %>
    <tr>
      <td><%= departure.time %></td>
      <td><%= departure.destination %></td>
      <td><%= departure.train_id %></td>
      <td><%= departure.track_id %></td>
      <td><%= departure.status %></td>
    </tr>
  <% end %>
</table>
<p>Find me in app/views/departures/index.html.erb</p>
